.about {
  position: relative;
  //background-color: var(--color--eastbay);
  overflow: hidden;
  height: 570px;
  &__container {
    display: flex;
  }

  &__text {
    width: 45%;
  }

  &__figure {
    position: absolute;
    left: 0;
    top: 0;
  }


  &__title {
    margin-bottom: var(--second-offset);
    color: var(--color-white);
    font: var(--middle-high-bold);
  }

  &__descr {
    font: var(--middle-book);
    color: var(--color-white);
  }

  &__quote {
    font: inherit;
    box-sizing: border-box;
    *::before, *::after {
      display: none;
    }
  }

  &__image {
    right: -50px;
    top: -160px;
    position: relative;
    overflow: hidden;
    width: 553px;
    height: 442px;
    transform: rotate(12deg);
    //transform: skewX(-20deg);
    border-radius: 60px;
    img {
      left: 50%;
      width: 1500px;
      //transform: skewX(20deg);
    }
  }

  &__author {
    display: flex;
    padding-top: 10px;
    padding-left: 340px;
    font: var(--prehigh-regular);
    font-style: normal;

    &::before {
      content: "";
      margin-top: 7px;
      margin-right: 16px;
      display: inline-block;
      width: 50px;
      height: 2px;
      background-color: var(--color-white);
    }
  }

}
