.catalog {
  padding: var(--big-offset) 0;

  &__left {
    grid-column: 3 span;
  }

  &__grid {
    grid-column: 9 span;
  }

  &__subtitle {
    margin: 0;
    font: var(--prehigh-book);
    margin-bottom: var(--second-offset);
  }

  &__caption {
    display: block;
    font: var(--middle-book);
    color: var(--color-main);
    margin-bottom: var(--small-offset);
  }

  &__prop {
    margin-bottom: var(--second-offset);
  }
  &__prop-checkboxes {
    display: flex;
    justify-content: space-between;
  }

  &__apply {
    margin-bottom: var(--second-offset);
    width: 100%;
  }

  &__more {
    margin-top: 35px;
    position: absolute;
    transform: translateX(150%);
  }
}

.catalog-list {
  grid-template-columns: repeat(9, 1fr);
  &__item {
    grid-column: 3 span;
  }
}


.catalog-filters {
  background-color: var(--color-bg);
  border-radius: 4px;
  padding: var(--second-offset);
  &__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.catalog-price {


  &__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 8px;
      bottom: 8px;
      width: 1px;
      height: 34px;
      background-color: var(--color-grey);
      transform: translateX(-50%);
    }
  }
  &__input {
    border: 1px solid var(--color-grey);
    width: 50%;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    font: var(--middle-book);
    color: var(--color-main);
    background-color: transparent;
    &:first-child {
      border-right: none;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child {
      border-left: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
  .noUi-horizontal {
    height: 2px;
  }

  .noUi-target {
    color: var(--color-main);
    border: none;
    box-shadow: none;
  }

  .noUi-connect {
    background: var(--color-main);
  }

  .noUi-horizontal .noUi-handle {
    width: 7px;
    height: 18px;
    top: -8px;
  }

  .noUi-handle {
    right: 0;
    border: none;
    border-radius: 100px;
    box-shadow: none;
    background: var(--color-main);
    cursor: pointer;
  }

  .noUi-handle:after, .noUi-handle:before {
    display: none;
  }

  .noUi-handle-lower {
    right: -5px;
  }
}
