
.box {
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
}

.box select {
  background-color: var(--color-main);;
  color: white;
  padding: 12px;
  width: 200px;
  border: none;
  font: var(--middle-book);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  -webkit-appearance: button;
  outline: none;
}

.box select option {
  padding: 30px;
}
