.footer {
  background-color: var(--color-main-rgb);
  padding: 7px 0;
  &__container {
    margin: 0 auto;
    padding: 10px 15px;
    max-width: 1210px;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
}
