//

.header {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(72, 66, 131, 0.7);

  &__container {
    --paddings: 15px;
    position: relative;
    padding: var(--second-offset) var(--paddings);
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: calc(100% - (var(--paddings) * 2));
      transform: translateX(-50%);
      height: 1px;
      background-color: var(--color--border);

    }
  }

  &__left {
    grid-column: 3 span;
  }
  &__right {
    grid-column: 9 span;
    display: flex;
    justify-content: flex-end;
  }
}
