
.hero {
  position: relative;
  padding: 100px 0;
  height: 750px;
  background-color: var(--color--eastbay);
  &__container {
    position: relative;
    z-index: 5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__bg-text {
    //display: none;
    margin-left: -10px;
    margin-top: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    font-weight: 700;
    font-family: "Intro", sans-serif;
    font-size: 200px;
    line-height: 200px;
    color: rgba(255, 255, 255, 0.12);
    transform: translate(-50%, -50%);
    z-index: 0;
  }
  &__title {
    margin: 0;
    margin-bottom: var(--second-offset);
    max-width: 50%;
    font: 700 36px / 140% var(--font-family);
    color: var(--color-white);
  }

  &__descr {
    margin: 0;
    max-width: calc(50% - 100px);
    font: var(--middle-book);
    color: var(--color-white);
    margin-bottom: var(--main-offset);

  }
}
