

.quiz {

  padding: var(--big-offset) 0;
  &__content {
    border-radius: 4px;
    padding: var(--main-offset) 100px;
    background-color: var(--color-bg);
  }

  &__title {
    margin-bottom: var(--second-offset);
  }


  &__descr {
    margin: 0;
    margin-bottom: 30px;
    color: var(--color-jumbo);
    border-bottom: 1px solid currentColor;
    padding-bottom: var(--small-offset);
    font: var(--middle-book);
  }
}


.quiz-questions {
  padding: var(--second-offset);

}

.quiz-question {
  &__title {
    margin: 0;
    margin-bottom: var(--second-offset);
    font: var(--prehigh-book);
    color: var(--color-main)
  }

  &__item {
    img {
      margin-bottom: var(--small-offset);
      border-radius: 7px;
    }
  }

  &__answers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 155px;
    padding-bottom: var(--main-offset);
    gap: var(--second-offset) 70px;
  }
  &__count {
    color: var(--color-jumbo);
    font: var(--middle-book);
  }
}


.quiz-bottom {
  padding-top: var(--second-offset);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--color-jumbo);
}


.asd {
  display: none;
}
