<section class="contacts">
  <script>
    // function initMap() {
    //   const svgMarker = {
    //     path:
    //       "M10.453 14.016l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
    //     fillColor: "blue",
    //     fillOpacity: 0.6,
    //     strokeWeight: 0,
    //     rotation: 0,
    //     scale: 2,
    //     anchor: new google.maps.Point(15, 30),
    //   };
    //   const home = {lat: 46.4703719961525, lng: 30.75593245457595}
    //   let options = {
    //     center: home,
    //     zoom: 15
    //   }
    //   let map = new google.maps.Map(document.getElementById('map'), options);
    //   const marker = new google.maps.Marker({
    //     position: home,
    //     map: map,
    //     title: "Наш офис",
    //     icon: svgMarker
    //   })
    //   let info = new google.maps.InfoWindow({
    //     content: "<h3>Это наш офис</h3><p>Приходите к нам за лучшим мылом</p>"
    //   });
    //
    //   marker.addListener("click", function () {
    //     info.open(map, marker);
    //   })
    // }
  </script>
  <div class="container contacts__container">
    <div class="contacts__text">
      <h2 class="title contacts__title">Контакты</h2>
      <address class="contacts__item">
        <strong class="contacts__subtitle">
          Главный офис
          <span class="tooltip">
            <button class="tooltip__btn btn-reset" aria-describedby="office" aria-label="Описание адреса">
              <svg class="icons__tooltip">
                <use xlink:href="img/sprite.svg#tooltip0"></use>
              </svg>
            </button>
            <span class="tooltip__txt" role="tooltip" id="office">
              <span class="visually-hidden">Тултип: </span>
              Офис откроется примерно 06/12/2021
              По&nbsp;всем вопросам пожалуйста звоните на&nbsp;номера: <br><b>+380 63&nbsp;857 13 64; +380 99&nbsp;467 13&nbsp;65.</b>
            </span>
          </span>
        </strong>
        <a href="#" class="contacts__phone">+380 63 857 13 64</a>
        <a href="#" class="contacts__phone">+380 99 467 13 65</a>
        <span class="contacts__address">скоро откроемся в г. Одесса</span>

      </address>
      <address class="contacts__item">
        <strong class="contacts__subtitle">Отдел продаж</strong>
        <a href="#" class="contacts__phone">+380 63 857 13 64</a>
        <a href="#" class="contacts__phone">+380 99 467 13 65</a>
        <span class="contacts__address">скоро откроемся в г. Одесса</span>
      </address>
      <div class="social">
<!--        <li class="social__item"><a href="#" class="social__link social__link&#45;&#45;telegram" aria-label="Мы в телеграме">-->
         <a href="#" class="">
          <svg class="icons">
            <use xlink:href="img/sprite.svg#social-telegram"></use>
          </svg>
        </a>
        <a href="#">
          <svg class="icons">
            <use xlink:href="img/sprite.svg#inst-social"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="contacts__map" id="map"></div>
  </div>
</section>
