<section class="faq">
  <div class="container">
    <div class="container faq__container">
      <h2 class="title faq__title">Часто задаваемые вопросы</h2>
      <ul class="faq__list list-reset">
        <li class="faq-accordion">
          <button class="faq-accordion__control btn-reset" aria-expanded="false">
            <span class="faq-accordion__title">Какие красители используете?</span>
            <svg class="faq-accordion__icon">
              <use xlink:href="img/sprite.svg#cross"></use>
            </svg>
          </button>
          <div class="faq-accordion__content" aria-hidden="true">
            <p>Читайте полное описание каждого самого продукта, который покупаете. В каждом образце присутствует свое уникальное описание.</p>
          </div>
        </li>
        <li class="faq-accordion">
          <button class="faq-accordion__control btn-reset" aria-expanded="false">
            <span class="faq-accordion__title">Есть ли детское мыло?</span>
            <svg class="faq-accordion__icon">
              <use xlink:href="img/sprite.svg#cross"></use>
            </svg>
          </button>
          <div class="faq-accordion__content" aria-hidden="true">
            <p>Да, поставьте ✓ в "Подбор по параметрам" в "женский" и отобразится детское мыло.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
