<footer class="footer">
  <div class="footer__container">
    <div class="footer__left">
      <a class="logo footer__logo">CriScent Gallery</a>
    </div>
    <div class="footer__right">
      <nav class="nav footer__nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#" class="nav__link">Каталог</a></li>
          <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Подобрка товара</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Наша команда</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Доставка и оплата</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
