<header class="header">
  <div class="container grid header__container">
    <div class="header__left">
      <a class="logo header__logo">CriScent Gallery</a>
    </div>
    <div class="header__right">
      <nav class="nav header__nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#" class="nav__link">Каталог</a></li>
          <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Подобрка товара</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Наша команда</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Доставка и оплата</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
        </ul>
      </nav>
      <div class="cart header__cart">
        <button class="btn-reset cart__btn">
          <svg>
            <use xlink:href="img/sprite.svg#cart"></use>
          </svg>
          <span class="cart__count">1</span>
        </button>
      </div>

    </div>

  </div>
</header>
