<header class="header fix-block">
  <div class="grid header__container">
    <div class="header__left">
      <a class="logo header__logo">CriScent Gallery</a>
    </div>
    <div class="header__right">
      <nav class="nav header__nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#" class="nav__link">Каталог</a></li>
          <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Подобрка товара</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Наша команда</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Доставка и оплата</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
        </ul>
      </nav>
      <div class="cart header__cart">
        <button class="btn-reset cart__btn">
          <svg>
            <use xlink:href="img/sprite.svg#cart"></use>
          </svg>
          <span class="cart__count">1</span>
        </button>
        <div class="mini-cart">
          <div class="mini-cart__top" data-simplebar>
            <ul class="mini-cart__list list-reset">
<!--              <li class="mini-cart__item">-->
<!--                <article class="mini-cart__product mini-product">-->
<!--                  <div class="mini-product__image">-->
<!--                    <img src="data/images/2/coffee-rose0.jpg" alt="">-->
<!--                  </div>-->
<!--                  <div class="mini-product__content">-->
<!--                    <div class="mini-product__text">-->
<!--                      <h3 class="mini-product__title">Мыло с люфой - морской бриз</h3>-->
<!--                      <span class="mini-product__price">160 ₴</span>-->
<!--                    </div>-->
<!--                    <button class="btn-reset mini-product__delete" aria-label="Удалить товар">-->
<!--                      <svg>-->
<!--                        <use xlink:href="img/sprite.svg#trash"></use>-->
<!--                      </svg>-->
<!--                    </button>-->
<!--                  </div>-->
<!--                </article>-->
<!--              </li>-->
<!--              <li class="mini-cart__item">-->
<!--                <article class="mini-cart__product mini-product">-->
<!--                  <div class="mini-product__image">-->
<!--                    <img src="data/images/2/coffee-rose0.jpg" alt="">-->
<!--                  </div>-->
<!--                  <div class="mini-product__content">-->
<!--                    <div class="mini-product__text">-->
<!--                      <h3 class="mini-product__title">Мыло с люфой - морской бриз</h3>-->
<!--                      <span class="mini-product__price">160 ₴</span>-->
<!--                    </div>-->
<!--                    <button class="btn-reset mini-product__delete" aria-label="Удалить товар">-->
<!--                      <svg>-->
<!--                        <use xlink:href="img/sprite.svg#trash"></use>-->
<!--                      </svg>-->
<!--                    </button>-->
<!--                  </div>-->
<!--                </article>-->
<!--              </li>-->
<!--              <li class="mini-cart__item">-->
<!--                <article class="mini-cart__product mini-product">-->
<!--                  <div class="mini-product__image">-->
<!--                    <img src="data/images/2/coffee-rose0.jpg" alt="">-->
<!--                  </div>-->
<!--                  <div class="mini-product__content">-->
<!--                    <div class="mini-product__text">-->
<!--                      <h3 class="mini-product__title">Мыло с люфой - морской бриз</h3>-->
<!--                      <span class="mini-product__price">160 ₴</span>-->
<!--                    </div>-->
<!--                    <button class="btn-reset mini-product__delete" aria-label="Удалить товар">-->
<!--                      <svg>-->
<!--                        <use xlink:href="img/sprite.svg#trash"></use>-->
<!--                      </svg>-->
<!--                    </button>-->
<!--                  </div>-->
<!--                </article>-->
<!--              </li>-->
            </ul>
          </div>
          <div class="mini-cart__bottom">
            <div class="mini-cart__itog">
              <span class="mini-cart__txt">Итого:</span>
              <span class="mini-cart__summ">0 ₴</span>
            </div>
            <button class="btn-reset btn btn--primary mini-cart__btn" data-graph-path="cart-modal">Перейти в корзину</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</header>
