<div class="modal">
  <div class="modal__container prod-modal" role="dialog" aria-modal="true" data-graph-target="prod-modal">
    <button class="btn-reset modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="modal-content">
      <div class="prod-modal__top">
        <div class="modal-slider">
          <div class="modal-slider__container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="img/product-image.jpg" alt="some">
              </div>
              <div class="swiper-slide">
                <img src="img/product-image.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="img/product-image.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="modal-preview">
            <div class="modal-preview__item" data-index="0">
              <img src="img/product-image.jpg" alt="">
            </div>
            <div class="modal-preview__item" data-index="1">
              <img src="img/product-image.jpg" alt="">
            </div>
            <div class="modal-preview__item" data-index="2">
              <img src="img/product-image.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="modal-info">
          <div class="modal-info__top">
            <span class="modal-info__vendor">Артикул: 831512</span>
            <span class="modal-info__quantity">В наличии: <span>13 шт</span></span>
          </div>
          <div class="modal-info__wrapper">
            <h3 class="modal-info__title">Бирюзовое мыло CriScent Gallery</h3>
            <div class="modal-info__rate">
              <img src="img/star.svg" alt="Рейтинг 5 из 5">
              <img src="img/star.svg" alt="">
              <img src="img/star.svg" alt="">
              <img src="img/star.svg" alt="">
              <img src="img/star.svg" alt="">
            </div>
            <div class="modal-info__sizes">
              <span class="modal-info__subtitle">Выберете размер</span>
              <ul class="list-reset modal-info__sizes-list modal-sizes">
                <li class="modal-sizes__item">
                  <button class="modal-sizes__btn btn-reset">36</button>
                </li>
                <li class="modal-sizes__item">
                  <button class="modal-sizes__btn btn-reset">36</button>
                </li>
                <li class="modal-sizes__item">
                  <button class="modal-sizes__btn btn-reset">36</button>
                </li>
                <li class="modal-sizes__item">
                  <button class="modal-sizesh btn-reset">36</button>
                </li>
              </ul>
            </div>
            <div class="modal-info__price">
              <span class="modal-info__current-price">150 ₴</span>
              <span class="modal-info__old-price">150 ₴</span>
            </div>
          </div>
          <button class="btn btn-reset btn--primary modal-info__order">Заказать</button>
          <ul class="modal-info__note modal-note list-reset">
            <li class="modal-note__item">Оплата заказа при получении</li>
            <li class="modal-note__item">Обмен в течении недели</li>
            <li class="modal-note__item">Оплата заказа при получении</li>
          </ul>
        </div>
      </div>
      <div class="prod-modal__bottom">
        <div class="prod-modal__bottom prod-bottom">
          <div class="prod-bottom__column">
            <h3 class="prod-bottom__title">Описание</h3>
            <p class="prod-bottom__descr modal-prod-descr">
              Бирюзовое мыло CriScent Gallery бережно очистит кожу, предаст ей полезных свойств витаминов, масел и других активных компонентов.
            </p>

          </div>
          <div class="prod-bottom__column">
            <h3 class="prod-bottom__title">Характеристики</h3>
            <div class="prod-chars">
              <p class="prod-bottom__descr prod-chars__item">Пол: Мужской/Женское</p>
              <p class="prod-bottom__descr prod-chars__item">Цвет: Бирюзовое</p>
              <p class="prod-bottom__descr prod-chars__item">Страна: Украина</p>
              <p class="prod-bottom__descr prod-chars__item">Состав: Аромат Морской Мускульный, базовое масло Кастор, масло календовое, витамин E</p>
            </div>
          </div>
        </div>
      </div>
      <div class="prod-modal__video">
        <iframe src="https://www.youtube.com/embed/K6Y86Em68mU"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="modal__container cart-modal" role="dialog" aria-modal="true" data-graph-target="cart-modal">
    <button class="btn-reset modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="modal-content">
      <div class="cart-modal__top">
        <h2 class="cart-modal__title">Оформление заказов</h2>
        <span class="cart-modal__order-number">Заказ 3456677</span>
      </div>
      <div class="cart-modal-order">
        <div class="cart-modal-order__top">
          <span class="cart-modal-order__quantity">Товаров в заказе: <span>3 шт</span></span>
          <span class="cart-modal-order__summ">Общая сумма заказа: <span>450₴</span></span>
        </div>
        <div class="cart-modal-order__content">
          <button class="btn-reset cart-modal-order__show">
            Состав заказа
            <svg class="cart-modal-order__show-svg">
              <use xlink:href="img/sprite.svg#angle"></use>
            </svg>
          </button>
          <ul class="cart-modal-order__list list-reset">
            <li class="cart-modal-order__item">
              <article class="cart-modal-order__product cart-modal-product">
                <div class="mini-product__image">
                  <img src="data/images/2/coffee-rose0.jpg" alt="">
                </div>
                <div class="cart-modal-product__content">
                  <div class="cart-modal-product__text">
                    <h3 class="cart-modal-product__title">Мыло с люфой - морской бриз</h3>
                    <span class="cart-modal-product__price">160 ₴</span>
                  </div>
                  <button class="btn-reset cart-modal-product__delete" aria-label="Удалить товар">
                    Удалить
                  </button>
                </div>
              </article>
            </li>
          </ul>
        </div>
      </div>
      <form class="cart-modal__form">
        <input type="text" class="input cart-modal__input" name="name" placeholder="Ваше имя">
        <input type="tel" class="input cart-modal__input" name="tel" placeholder="Номер телефона">
        <input type="email" class="input cart-modal__input" name="email" placeholder="E-mail">
        <button class="btn btn--primary btn-reset cart-modal__btn">
          Оформить заказ
        </button>
      </form>
    </div>
  </div>
</div>
