<section class="team">
  <img src="img/team-figure.svg" alt="" class="team__figure" aria-hidden="true">
  <div class="container">
    <h2 class="title team__title">Наша команда</h2>
    <ul class="team__list list-reset grid">
      <li class="team__item">
        <img src="img/photoMeRecized.jpg" alt="Vyacheslav Bondariev" class="team__img">
        <strong class="team__subtitle">Бондарев Вячеслав</strong>
        <span class="team__post">CEO</span>
      </li>
      <li class="team__item">
        <img src="img/team-1.jpg" alt="Olga Kniazieva" class="team__img">
        <strong class="team__subtitle">Ольга Князева</strong>
        <span class="team__post">CEO</span>
      </li>
      <li class="team__item">
        <img src="img/team-2.jpg" alt="Yura Kopernik" class="team__img">
        <strong class="team__subtitle">Юра Коперник</strong>
        <span class="team__post">CEO</span>
      </li>
      <li class="team__item">
        <img src="img/team-3.png" alt="Vlad Bondariev" class="team__img">
        <strong class="team__subtitle">Владислав Бондарев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img src="img/team-4.jpg" alt="Misha Kolokolov" class="team__img">
        <strong class="team__subtitle">Миша Колоколов</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img src="img/team-5.jpg" alt="Mariya Kalilova" class="team__img">
        <strong class="team__subtitle">Мария Калилова</strong>
        <span class="team__post">CEO</span>
      </li>
    </ul>
  </div>
</section>
