body {
  background: linear-gradient(-90deg, #eda451, #993d60, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}



html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Intro", sans-serif;
  background-color: var(--color-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 60px 15px;
  max-width: 1210px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);

}

.btn {
  border-radius: 4px;
  padding: 22px 47px;
  font: var(--middle-regular);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  &--primary {
    color: var(--color-white);
    background-color: var(--color--accent);
    &:hover {
      background-color: var(--color--accent-hover);
    }
  }

  &--secondary {
    color: var(--color-white);
    background-color: var(--color-main);
    &:hover {
      background-color: var(--color-main-hover);
    }
  }

  &--thirdly {
    border: 1px solid var(--color-main);
    padding: 13px 45px;
    color: var(--color-main);
    background-color: transparent;
    &:hover {
      color: var(--color-white);
      background-color: var(--color-main);
    }
  }
}

.title {
  margin: 0;
  margin-bottom: var(--main-offset);
  font: var(--middle-high-bold);
  color: var(--color-main);
}

@import "mixins";
.custom-checkbox {
  @include custom-checkbox;

  &__quiz {
    display: flex;
  }

  &__content {
    font: var(--middle-book);
    color: var(--color-main);
    padding-left: 35px;
    &::before {
     border-color: var(--color-cameo);
      top: -3px;
      width: 24px;
      height: 24px;
      border-radius: 4px;
    }
    &::after {
      top: -3px;
      width: 24px;
      height: 24px;
      background-image: url("../img/check.svg");
      background-size: 15px 12px;
    }
  }
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}


.tooltip {
  position: relative;
}

.tooltip__btn {

}

.tooltip__txt {
  position: absolute;
  left: -10px;
  bottom: calc(100% + 14px);
  z-index: 3;
  border-radius: 4px;
  box-shadow: 4px 8px 20px rgba(0, 13, 84, 0.2);
  padding: var(--small-offset) var(--second-offset);
  width: max-content;
  font: var(--small-book);
  max-width: 426px;
  color: var(--color-main);
  background: var(--color-white);
  opacity: 0;
  visibility: hidden;
  text-transform: initial;
  transform: translateY(10px);
  transition: opacity .3s ease-in-out,transform .3s ease-in-out,visibility .3s ease-in-out;
}

.tooltip__btn:hover + .tooltip__txt {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.tooltip__btn:focus + .tooltip__txt {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.tooltip__txt:after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 8px 0;
  border-color: var(--color-white) transparent transparent transparent;
}


.input {
  outline: none;
  border: none;
  border-radius: 4px;
  padding-left: 0 var(--second-offset);
  width: 100%;
  height: 60px;
  font: var(--middle-book);
  color: var(--color-main);
  background-color: var(--color-white);

  &::placeholder {
    color: var(--color-grey);
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
