.header {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.header__container {
  width: 100%;
  --paddings: 15px;
  padding: var(--second-offset) var(--paddings);
  background-color: var(--color--eastbay-rgb);
}
.header__container::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  transform: translateX(-50%);
  height: 1px;
  background-color: var(--color--border);
}
.header__left {
  grid-column: 3 span;
}
.header__right {
  align-items: center;
  padding-right: var(--big-offset);
  grid-column: 9 span;
  display: flex;
  justify-content: flex-end;
}

.hero {
  position: relative;
  padding: 100px 0;
  height: 750px;
}
.hero__container {
  position: relative;
  z-index: 5;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero__bg-text {
  margin-left: -10px;
  margin-top: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  font-weight: 700;
  font-family: "Intro", sans-serif;
  font-size: 200px;
  line-height: 200px;
  color: rgba(255, 255, 255, 0.12);
  transform: translate(-50%, -50%);
  z-index: 0;
}
.hero__title {
  margin: 0;
  margin-bottom: var(--second-offset);
  max-width: 50%;
  font: 700 36px/140% var(--font-family);
  color: var(--color-white);
}
.hero__descr {
  margin: 0;
  max-width: calc(50% - 100px);
  font: var(--middle-book);
  color: var(--color-white);
  margin-bottom: var(--main-offset);
}

.catalog {
  padding: var(--big-offset) 0;
}
.catalog__left {
  grid-column: 3 span;
}
.catalog__grid {
  grid-column: 9 span;
}
.catalog__subtitle {
  margin: 0;
  font: var(--prehigh-book);
  margin-bottom: var(--second-offset);
}
.catalog__caption {
  display: block;
  font: var(--middle-book);
  color: var(--color-main);
  margin-bottom: var(--small-offset);
}
.catalog__prop {
  margin-bottom: var(--second-offset);
}
.catalog__prop-checkboxes {
  display: flex;
  justify-content: space-between;
}
.catalog__apply {
  margin-bottom: var(--second-offset);
  width: 100%;
}
.catalog__more {
  margin-top: 35px;
  position: absolute;
  transform: translateX(150%);
}

.catalog-list {
  grid-template-columns: repeat(9, 1fr);
}
.catalog-list__item {
  grid-column: 3 span;
}

.catalog-filters {
  background-color: var(--color-bg);
  border-radius: 4px;
  padding: var(--second-offset);
}
.catalog-filters__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-price__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.catalog-price__wrapper::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 8px;
  bottom: 8px;
  width: 1px;
  height: 34px;
  background-color: var(--color-grey);
  transform: translateX(-50%);
}
.catalog-price__input {
  border: 1px solid var(--color-grey);
  width: 50%;
  height: 50px;
  box-sizing: border-box;
  text-align: center;
  font: var(--middle-book);
  color: var(--color-main);
  background-color: transparent;
}
.catalog-price__input:first-child {
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.catalog-price__input:last-child {
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.catalog-price .noUi-horizontal {
  height: 2px;
}
.catalog-price .noUi-target {
  color: var(--color-main);
  border: none;
  box-shadow: none;
}
.catalog-price .noUi-connect {
  background: var(--color-main);
}
.catalog-price .noUi-horizontal .noUi-handle {
  width: 7px;
  height: 18px;
  top: -8px;
}
.catalog-price .noUi-handle {
  right: 0;
  border: none;
  border-radius: 100px;
  box-shadow: none;
  background: var(--color-main);
  cursor: pointer;
}
.catalog-price .noUi-handle:after, .catalog-price .noUi-handle:before {
  display: none;
}
.catalog-price .noUi-handle-lower {
  right: -5px;
}

.about {
  position: relative;
  overflow: hidden;
  height: 570px;
}
.about__container {
  display: flex;
}
.about__text {
  width: 45%;
}
.about__figure {
  position: absolute;
  left: 0;
  top: 0;
}
.about__title {
  margin-bottom: var(--second-offset);
  color: var(--color-white);
  font: var(--middle-high-bold);
}
.about__descr {
  font: var(--middle-book);
  color: var(--color-white);
}
.about__quote {
  font: inherit;
  box-sizing: border-box;
}
.about__quote *::before, .about__quote *::after {
  display: none;
}
.about__image {
  right: -50px;
  top: -160px;
  position: relative;
  overflow: hidden;
  width: 553px;
  height: 442px;
  transform: rotate(12deg);
  border-radius: 60px;
}
.about__image img {
  left: 50%;
  width: 1500px;
}
.about__author {
  display: flex;
  padding-top: 10px;
  padding-left: 340px;
  font: var(--prehigh-regular);
  font-style: normal;
}
.about__author::before {
  content: "";
  margin-top: 7px;
  margin-right: 16px;
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: var(--color-white);
}

.quiz {
  padding: var(--big-offset) 0;
}
.quiz__content {
  border-radius: 4px;
  padding: var(--main-offset) 100px;
  background-color: var(--color-bg-withOpacity);
}
.quiz__title {
  margin-bottom: var(--second-offset);
}
.quiz__descr {
  margin: 0;
  margin-bottom: 30px;
  color: var(--color-jumbo);
  border-bottom: 1px solid currentColor;
  padding-bottom: var(--small-offset);
  font: var(--middle-book);
}

.quiz-questions {
  padding: var(--second-offset);
}

.quiz-question__title {
  margin: 0;
  margin-bottom: var(--second-offset);
  font: var(--prehigh-book);
  color: var(--color-main);
}
.quiz-question__item img {
  margin-bottom: var(--small-offset);
  border-radius: 7px;
}
.quiz-question__answers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 155px;
  padding-bottom: var(--main-offset);
  gap: var(--second-offset) 70px;
}
.quiz-question__count {
  color: var(--color-jumbo);
  font: var(--middle-book);
}

.quiz-bottom {
  padding-top: var(--second-offset);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--color-jumbo);
}

.asd {
  display: none;
}

.team {
  position: relative;
  padding: var(--big-offset) 0;
  overflow: hidden;
}
.team__title {
  color: var(--color-white);
}
.team .container {
  position: relative;
}
.team__item {
  grid-column: 4 span;
  gap: var(--main-offset) var(--second-offset);
}
.team__figure {
  position: absolute;
  right: 0;
  top: -500px;
}
.team__img {
  overflow: hidden;
  margin-bottom: var(--second-offset);
  border-radius: 4px;
  height: 400px;
  width: 380px;
}
.team__subtitle {
  display: block;
  margin-bottom: var(--second-offset);
  font: var(--prehigh-book);
  color: var(--color-white);
}
.team__post {
  font: var(--middle-book);
  color: var(--color-white);
}

.faq {
  padding: var(--big-offset);
}
.faq__container {
  background-color: var(--color-bg-withOpacity);
  border-radius: 50px;
}
.faq__list {
  margin: 0 auto;
  max-width: 880px;
}

.faq-accordion {
  border-top: 1px solid var(--color-main);
  border-bottom: 1px solid var(--color-main);
}
.faq-accordion__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  width: 100%;
  font: var(--prehigh-regular);
  color: var(--color-main);
  background-color: transparent;
  cursor: pointer;
  text-align: left;
}
.faq-accordion__content {
  overflow: hidden;
  padding-bottom: 0;
  padding-right: 70px;
  max-height: 0;
  opacity: 0;
  will-change: max-height;
  transition: all 0.3s ease-out;
  box-sizing: content-box;
  font: var(--middle-book);
  color: rgba(36, 36, 36, 0.5);
}
.faq-accordion__icon {
  display: inline-block;
  transition: transform 0.3s ease-out;
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.faq-accordion:not(:first-child) {
  margin-top: -1px;
}

.accordion__control {
  width: 100%;
  background-color: transparent;
  cursor: pointer;
}

.accordion__content {
  overflow: hidden;
  padding: 0 20px;
  max-height: 0;
  box-sizing: content-box;
  opacity: 0;
  transition: all 0.3s ease-out;
  will-change: max-height;
}

.open .faq-accordion__icon {
  transform: rotate(45deg);
}

.open .faq-accordion__content {
  padding-bottom: 20px;
  opacity: 1;
}

.contacts {
  background-color: rgba(243, 246, 246, 0.7);
  border-radius: 50px;
  max-width: 1215px;
  padding: 0 20px;
  margin: 0 auto;
}
.contacts__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.contacts__map {
  height: 400px;
  width: 100%;
}
.contacts__phone {
  display: block;
  font: var(--middle-high-bold);
  color: var(--color-main);
  margin-bottom: var(--small-offset);
}
.contacts__text {
  margin-right: var(--second-offset);
  width: calc(100% - (680px + var(--second-offset)));
}
.contacts__title {
  display: flex;
  align-items: center;
  margin-bottom: var(--big-offset);
}
.contacts__item {
  margin-bottom: var(--main-offset);
  font-style: normal;
}
.contacts__subtitle {
  margin: 0;
  margin-bottom: var(--main-offset);
  font: var(--small-book);
  text-transform: uppercase;
  color: #7b7f86;
}
.contacts__icon {
  display: inline-block;
  transition: transform 0.3s ease-out;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contacts__address {
  display: block;
}
.contacts__map {
  width: 680px;
  height: 500px;
}

.icons {
  width: 80px;
  height: 80px;
}
.icons__tooltip {
  margin-left: var(--small-offset);
  width: 30px;
  height: 21px;
  box-shadow: 2px 4px 10px rgba(0, 13, 84, 0.2);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 100%;
}

.instagram {
  padding: var(--big-offset);
}
.instagram__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.instagram__left {
  flex-shrink: 0;
  margin-right: var(--small-offset);
  border-radius: 5px;
  width: 380px;
  background-color: var(--color--eastbay-rgb);
}
.instagram__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - (380px + var(--small-offset)));
}
.instagram__title {
  margin-bottom: var(--second-offset);
  color: var(--color-white);
}
.instagram__descr {
  margin: 0 auto;
  margin-bottom: var(--main-offset);
  max-width: 260px;
  font: var(--middle-book);
  text-align: center;
  color: var(--color-white);
}
.instagram__input {
  margin-bottom: var(--small-offset);
  pointer-events: unset;
}
.instagram__link {
  display: inline-block;
  margin-bottom: var(--second-offset);
}
.instagram__btn {
  width: 100%;
  height: 60px;
}
.instagram__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 160px);
  gap: 15px;
}
.instagram__item {
  overflow: hidden;
  border-radius: 4px;
}
.instagram__item a {
  display: block;
  width: 100%;
  height: 100%;
}
.instagram__item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.instagram__item:nth-child(3) {
  grid-column: 2 span;
  grid-row: 2 span;
}
.instagram__item:nth-child(2) {
  grid-row: 2;
}

.callback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--main-offset) var(--second-offset);
}

.footer {
  background-color: var(--color-main-rgb);
  padding: 7px 0;
}
.footer__container {
  margin: 0 auto;
  padding: 10px 15px;
  max-width: 1210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prod-modal {
  border-radius: 4px;
  padding: var(--main-offset);
  width: 1140px;
}
.prod-modal .modal__close {
  display: none;
}
.prod-modal__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--main-offset);
}
.prod-modal__bottom {
  margin-bottom: var(--main-offset);
}
.prod-modal__video {
  width: 100%;
  height: 450px;
}
.prod-modal__video iframe {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-slider {
  margin-right: var(--second-offset);
  width: calc(50% - (var(--second-offset) / 2));
}
.modal-slider__container {
  width: 100%;
  overflow: hidden;
}
.modal-slider__container img {
  width: 100%;
  object-fit: cover;
  max-height: 460px;
}

.modal-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: var(--big-offset);
  width: calc(50% - (var(--second-offset) / 2));
}
.modal-info__top {
  display: flex;
  align-items: center;
  margin-bottom: var(--main-offset);
  font: var(--middle-book);
  line-height: 16px;
  color: var(--color-grey);
}
.modal-info__vendor {
  margin-right: var(--main-offset);
}
.modal-info__quantity span {
  color: var(--color-main);
}
.modal-info__title {
  margin: 0;
  margin-bottom: var(--second-offset);
  font: var(--prehigh-book);
  line-height: 140%;
  color: var(--color-main);
}
.modal-info__rate {
  margin-bottom: var(--second-offset);
}
.modal-info__subtitle {
  display: inline-block;
  margin-bottom: var(--second-offset);
  font: var(--middle-book);
  line-height: 16px;
  color: var(--color-main);
}
.modal-info__order {
  margin-top: auto;
  width: 100%;
}
.modal-info__price {
  margin-top: 4px;
  display: flex;
  align-items: center;
}
.modal-info__current-price {
  margin-right: 32px;
  font: var(--middle-high-bold);
  color: var(--color-main);
  line-height: 30px;
}
.modal-info__old-price {
  font: var(--middle-book);
  color: var(--color-main);
  line-height: 16px;
}

.modal-sizes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.modal-sizes__item {
  margin-bottom: var(--second-offset);
}
.modal-sizes__item:not(:last-child) {
  margin-right: var(--second-offset);
}
.modal-sizes__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--small-book);
  color: var(--color-main);
  border: 1px solid var(--color-grey);
  width: 70px;
  border-radius: 4px;
  padding: 6px 0;
}

.modal-preview {
  display: grid;
  margin-bottom: var(--second-offset);
  grid-template-columns: repeat(6, 70px);
  gap: var(--second-offset);
  font-size: 0;
}
.modal-preview__item {
  height: 75px;
  transition: opacity 0.3s;
  cursor: pointer;
}
.modal-preview__item img {
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal-preview__item img:hover {
  opacity: 0.7;
}
.modal-preview__item--active {
  opacity: 0.7;
  pointer-events: none;
}

.modal-note {
  margin-top: var(--grid-gap);
}
.modal-note__item {
  padding-left: 25px;
  background-image: url("../../img/check-list.svg");
  background-position: left center;
  background-size: 15px 12px;
  background-repeat: no-repeat;
  font: var(--small-book);
  color: var(--color-grey);
}
.modal-note__item:not(:last-child) {
  margin-bottom: var(--small-offset);
}

.prod-bottom {
  display: flex;
}
.prod-bottom__column {
  width: calc(50% - (var(--second-offset) / 2));
}
.prod-bottom__column:first-child {
  margin-right: var(--second-offset);
}
.prod-bottom__title {
  margin: 0;
  margin-bottom: var(--second-offset);
  font: var(--prehigh-book);
  color: var(--color-main);
}
.prod-bottom__descr {
  margin: 0;
  max-width: 450px;
  font: var(--second-offset);
  color: var(--color-main);
}

.cart-modal {
  border-radius: 4px;
  padding: var(--main-offset);
  width: 580px;
}
.cart-modal .modal__close {
  display: none;
}
.cart-modal__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--main-offset);
}
.cart-modal__title {
  margin: 0;
  font: var(--prehigh-regular);
  font-weight: 700;
  color: var(--color-main);
}
.cart-modal__order-number {
  font: var(--small-book);
  line-height: 14px;
  color: var(--color-grey);
}
.cart-modal__input {
  color: var(--color-grey);
  background-color: #f6f6f6;
}
.cart-modal__input:not(:last-child) {
  margin-bottom: var(--small-offset);
}

.cart-modal-order {
  margin-bottom: var(--main-offset);
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 30px;
}
.cart-modal-order__top {
  font: var(--middle-book);
  line-height: 14px;
  color: var(--color-grey);
}
.cart-modal-order__top span {
  font-weight: 700;
  color: var(--color-main);
}
.cart-modal-order__quantity {
  display: block;
  margin-bottom: var(--second-offset);
}
.cart-modal-order__summ {
  display: block;
  margin-bottom: var(--second-offset);
}
.cart-modal-order__item:not(:last-child) {
  margin-bottom: 14px;
}
.cart-modal-order__show {
  display: inline-flex;
  align-items: center;
  margin-bottom: var(--second-offset);
  color: var(--color-main);
}
.cart-modal-order__show-svg {
  margin-left: 5px;
  width: 7px;
  height: 7px;
}

.nav__list {
  display: flex;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: var(--main-offset);
}
.nav__link {
  font: var(--small-book);
  color: var(--color-white);
}

.cart {
  position: relative;
  margin-left: var(--main-offset);
}
.cart__btn {
  position: relative;
  width: 20px;
  height: 20px;
}
.cart__btn svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.cart__count {
  position: absolute;
  right: -6px;
  bottom: -6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--color--accent);
  font: var(--small-book);
  color: var(--color-white);
  height: 16px;
  min-width: 16px;
  pointer-events: none;
  opacity: 0;
}
.cart__count--visible {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.mini-cart {
  position: absolute;
  right: 0;
  top: calc(100% + 29px);
  width: 480px;
  box-shadow: 0px -4px 10px rgba(0, 13, 84, 0.1);
  background-color: var(--color-white);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.mini-cart__top {
  max-height: 323px;
}
.mini-cart__top .simplebar-track.simplebar-vertical {
  right: 5px;
  top: 20px;
  bottom: 20px;
  border-radius: 5px;
  width: 4px;
  background: rgba(77, 77, 77, 0.1);
}
.mini-cart__top .simplebar-scrollbar::before {
  left: 0;
  right: auto;
  border-radius: 5px;
  width: 4px;
  background: rgba(77, 77, 77, 0.2);
  opacity: 1;
}
.mini-cart__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--second-offset);
  box-shadow: 0px -4px 10px rgba(0, 13, 84, 0.1);
  background-color: var(--color-white);
}
.mini-cart__txt {
  display: block;
  margin-bottom: var(--small-offset);
}
.mini-cart__summ {
  font: var(--prehigh-book);
  font-weight: 700;
  color: #4D4D4D;
}
.mini-cart__btn {
  padding-top: 14px;
  padding-bottom: 14px;
}
.mini-cart--visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.logo {
  line-height: 1;
  font: var(--middle-high-bold);
  color: var(--color-white);
}

.product {
  overflow: hidden;
}
.product__btns {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  visibility: hidden;
  align-items: center;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.product__image {
  margin-bottom: var(--small-offset);
  position: relative;
  width: 100%;
  max-height: 293px;
}
.product__image img {
  border-radius: 4px;
  width: 100%;
  height: 293px;
  display: block;
  object-fit: cover;
}
.product__title {
  margin: 0;
  margin-bottom: var(--small-offset);
  font: var(--middle-book);
  color: var(--color-main);
}
.product__price {
  color: var(--color-main);
  font: var(--prehigh-regular);
}
.product__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background-color: var(--color-main);
}
.product__btn--disabled {
  opacity: 0.7;
  pointer-events: none;
}
.product__btn svg {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.product__btn:first-child {
  margin-right: var(--main-offset);
}
.product__btn:hover {
  background-color: var(--color-main-hover);
  transition: background-color 0.3s ease-in-out;
}
.product:hover .product__btns {
  opacity: 1;
  visibility: visible;
}

.mini-product {
  display: flex;
  align-items: center;
  padding: var(--small-offset) var(--second-offset);
}
.mini-product__image {
  flex-shrink: 0;
  margin-right: var(--small-offset);
  width: 100px;
  height: 100px;
}
.mini-product__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mini-product__content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.mini-product__text {
  margin-right: auto;
  max-width: 268px;
}
.mini-product__title {
  margin: 0;
  margin-bottom: 14px;
  font: var(--small-book);
  line-height: 20px;
}
.mini-product__price {
  font: var(--prehigh-regular);
  font-weight: 700;
  color: #4D4D4D;
}
.mini-product__delete {
  width: 20px;
  height: 20px;
}
.mini-product__delete svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.cart-modal-product {
  position: relative;
  display: flex;
  align-items: center;
}
.cart-modal-product__image {
  flex-shrink: 0;
  margin-right: var(--small-offset);
  width: 80px;
  height: 45px;
}
.cart-modal-product__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart-modal-product__content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.cart-modal-product__text {
  margin-right: auto;
  max-width: 290px;
}
.cart-modal-product__title {
  margin: 0;
  margin-bottom: var(--small-offset);
  font: var(--small-book);
  line-height: 20px;
}
.cart-modal-product__price {
  font: var(--prehigh-book);
  font-weight: 700;
  color: #4D4D4D;
}
.cart-modal-product__delete {
  font: var(--small-book);
  line-height: 14px;
  color: var(--color-grey);
}

.box {
  display: none;
}

.box select {
  background-color: var(--color-main);
  color: white;
  padding: 12px;
  width: 200px;
  border: none;
  font: var(--middle-book);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  -webkit-appearance: button;
  outline: none;
}

.box select option {
  padding: 30px;
}

.sizes-table {
  border-radius: 4px;
  width: 100%;
  border-collapse: collapse;
}
.sizes-table caption {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  font: var(--middle-book);
  text-align: center;
  color: var(--color-main);
}
.sizes-table td {
  padding: 17px 5px;
  text-align: center;
  height: 80px;
  width: 57px;
  border: 1px solid var(--color-cameo);
}

.social__link {
  width: 44px;
  height: 44px;
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.social__link--telegram {
  background-image: url("src/img/svg/social-telegram.svg");
}
.social__link--instagram {
  background-image: url("src/img/svg/social-instagram.svg");
}

/*# sourceMappingURL=main.css.map */
